# Maven target directory
/target/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

/terraform/.terraform/
*.jar 
*.class
.vscode/
/apps/order-service/target/
.DS_Store
Thumbs.db
apps/order-service/.mvn/*
apps/order-service/.mvn/wrapper/maven-wrapper.properties
apps/order-service/.mvn/wrapper/MavenWrapperDownloader.java
apps/functions/cancel-order-handler/cancelOrderFunction.zip
apps/functions/inventory-service-handler/inventoryServiceFunction.zip
apps/functions/order-service-handler/orderServiceFunction.zip
apps/functions/payment-service-handler/paymentServiceFunction.zip
apps/functions/release-inventory-handler/releaseInventoryFunction.zip
apps/functions/inventory-service-handler/inventoryServiceFunction.zip
apps/functions/order-service-handler/orderServiceFunction.zip
apps/functions/email-service/emailServiceFunction.zip
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
cancelOrderFunction.checksum
emailServiceFunction.checksum
inventoryServiceFunction.checksum
orderCallbackFunction.checksum
orderServiceFunction.checksum
paymentServiceFunction.checksum
releaseInventoryFunction.checksum
inventoryServiceFunction.checksum
orderServiceFunction.checksum
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
apps/inventory-service/target/inventory-service-0.0.1-SNAPSHOT.jar.original
apps/inventory-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
apps/inventory-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
orderServiceFunction.checksum
inventoryServiceFunction.checksum
orderCallbackFunction.checksum
emailServiceFunction.checksum
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/dto/InventoryResponseItem.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/InventoryServiceApplication.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/controller/InventoryController.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/dto/InventoryRequest.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/dto/InventoryRequestItem.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/dto/InventoryResponse.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/dto/InventoryResponseItem.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/model/Inventory.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/repository/InventoryRepository.class
apps/inventory-service/target/classes/com/elusivemel/inventoryservice/util/InventoryUtil.class
apps/inventory-service/target/test-classes/com/elusivemel/inventory_service/InventoryServiceApplicationTests.class
